@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background.jpg");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.logo {
    display: block;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 300px;
}
.box img {
    display:flex;
    margin: 30px auto;
}
.menu {
    width: 90%;
    max-width: 767px;
    margin: 2rem auto;
    font-size: 20px;
}

.section {
    background-color: rgba(245, 222, 179, 0.55);
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.section-name {
    height: 100%;
}

.section-header {
    padding: 1.5rem 3rem 1.5rem 1rem;
    font-size: 30px;
    line-height: 1.5rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* border: solid red; */
}
.header {
    display: block;
    max-width: 50%;
    line-height: 20px;
}

@media(max-width: 767px) {
    .section-header {
        padding: 1rem 3rem 1rem 1rem;
        font-size: 25px;
    }
    .menu {
        font-size: 17px;
    }
}

.section-header::after {
    content: "\002B";
    margin-bottom: 5px;;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.section-header.mid::after {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transform: rotate(180deg);
}

.section-header.active::after {
    margin-bottom: -1px;
    content: "\2212";
}

.section-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* border: solid red; */
}
.product {
    margin-top: -25px;
    padding: 1rem;
    line-height: 1.5rem;
}

.line{
    padding: 0.5rem;
    line-height: 1.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, rgba(82, 84, 86), transparent) 1;
}

.section-header.active + .section-body {
    max-height: 200px;
}

p {
    display: inline-block;
}

.product-name {
    width: 65%;
    text-align: left;
}
.price {
    width: 30%;
    text-align: right;
}

.price-decimal {
    max-width: 4%;
    text-align: right;
}
